<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-with,initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Color</title>

	</f:facet>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-folder-open"
				action="producto" />

			<p:menuitem value="Colores" icon="pi pi-palette" action="color" />
			<p:menuitem value="Tallas" icon="pi pi-sort" action="tallas" />
			<p:menuitem value="Tipo Producto" icon="pi pi-sitemap"
				action="tipoProducto" />
			<p:menuitem value="Marca" icon="pi pi-ticket" action="marca" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanInventario.actionReporte()}" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<h2 style="background-color: white-space:;" align="center">PRODUCTOS</h2>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
	<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
		<h:form>
			<p:panelGrid columns="2">
				<p:panel header="COLOR">
					<h:outputText value="Nombre Color" />
					<p:inputText value="#{beanAdministracion.colorSeleccionado}"
						required="true" requiredMessage="Inserte el nombre" />
					<br />
					<p:commandButton value="GUARDAR" icon="pi pi-save"
						update="@form:,formDatos"
						actionListener="#{beanAdministracion.actionListenerInsertarColor()}"></p:commandButton>
				</p:panel>
			</p:panelGrid>
		</h:form>
	</p:overlayPanel>
	<h:form id="formDatos">
		<br />
		<p:panel header="Datos Colores">
			<p:dataTable value="#{beanAdministracion.listaColor}" var="c"
				reflow="true" paginator="true" rows="5">
				<p:column headerText="ID">
					<h:outputText value="#{c.idColor}" />
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{c.colNombre}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						update="formEdicion"
						actionListener="#{beanAdministracion.actionListenerSeleccionarColor(c)}"
						oncomplete="PF('dlgEdicion').show()" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanAdministracion.actionListenerEliminarColor(c.idColor)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este color?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>

			</p:dataTable>



		</p:panel>

	</h:form>


	<p:dialog header="Editar color" widgetVar="dlgEdicion" width="510"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="ID:" />
				<h:outputText value="#{beanAdministracion.colorEdicion.idColor}" />
				<h:outputText value="NOMBRE" />
				<p:inputText value="#{beanAdministracion.colorEdicion.colNombre}"
					required="true" requiredMessage="Inserte el nombre del color"></p:inputText>
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					actionListener="#{beanAdministracion.actionListenerActualizarColor()}"
					update=":formDatos" />

			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
