<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-folder-open"
				action="producto" />

			<p:menuitem value="Colores" icon="pi pi-palette" action="color" />
			<p:menuitem value="Tallas" icon="pi pi-sort" action="tallas" />
			<p:menuitem value="Tipo Producto" icon="pi pi-sitemap"
				action="tipoProducto" />
			<p:menuitem value="Marca" icon="pi pi-ticket" action="marca" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanInventario.actionReporte()}" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
		<h:form id="formDatos">
			<br />
			<p:panel header="DATOS DE LOS PRODUCTOS">

				<p:dataTable value="#{beanInventario.listaProducto}" var="p"
					reflow="true" paginator="true" rows="5" rowKey="#{p.idProducto}">
					<p:column headerText="ID PRODUCTO" filterBy="#{p.idProducto}">
						<h:outputText value="#{p.idProducto}" />
					</p:column>
					<p:column headerText="Descripcion">
						<h:outputText value="#{p.proDescripcion}" />
					</p:column>
					<p:column headerText="MARCA" filterBy="#{p.invMarca.marNombre}">
						<h:outputText value="#{p.invMarca.marNombre}" />
					</p:column>
					<p:column headerText="TIPO PRODUCTO">
						<h:outputText value="#{p.invTipoProducto.tipoDescripcion}" />
					</p:column>
					<p:column headerText="TALLA" filterBy="#{p.invTalla.tallDescripcion}">
						<h:outputText value="#{p.invTalla.tallDescripcion}" />
					</p:column>
					<p:column headerText="COLOR">
						<h:outputText value="#{p.invColor.colNombre}" />
					</p:column>
					<p:column headerText="PRECIO" filterBy="#{p.proPrecio}">
						<h:outputText value="#{p.proPrecio}" />
					</p:column>
					<p:column headerText="STOCK">
						<h:outputText value="#{p.proStock}" />
					</p:column>
					<p:column headerText="IMAGEN">
						<p:graphicImage value="#{p.proImagen}"
							style="max-width:100%;height:auto;" />
					</p:column>


				</p:dataTable>

			</p:panel>

		</h:form>
	</h:form>
	<div></div>
</body>
</html>
