<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-with,initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>PRODUCTOS</title>

	</f:facet>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-folder-open"
				action="producto" />

			<p:menuitem value="Colores" icon="pi pi-palette" action="color" />
			<p:menuitem value="Tallas" icon="pi pi-sort" action="tallas" />
			<p:menuitem value="Tipo Producto" icon="pi pi-sitemap"
				action="tipoProducto" />
			<p:menuitem value="Marca" icon="pi pi-ticket" action="marca" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanInventario.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<h2 style="background-color: white-space:;" align="center">PRODUCTOS</h2>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
	<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
		<h:form>
			<p:panelGrid columns="2" >
				<h:outputText value="Descripcion:" />
				<p:inputTextarea rows="5" cols="30"
					onChange="(e) => setValue(event.target.value) autoResize"
					value="#{beanInventario.descripcion}" required="true" requiredMessage="Ingrese la descripcion del producto" />
				<h:outputText value="Seleccione la marca del Producto:" />
				<p:selectOneMenu value="#{beanInventario.marcaSeleccionada}" required="true" requiredMessage="Seleecione la marca del producto">
					<f:selectItems value="#{beanInventario.listaMarca}" var="m"
						itemLabel="#{m.marNombre}" itemValue="#{m.idMarca}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Seleccione el tipo del Producto:" />
				<p:selectOneMenu value="#{beanInventario.tipoProductoSeleccionado}" required="true" requiredMessage="Seleecione el tipo del producto">
					<f:selectItems value="#{beanInventario.listaTipo}" var="t"
						itemLabel="#{t.tipoDescripcion}" itemValue="#{t.idTipoProducto}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Seleccione el color del Producto:"  />
				<p:selectOneMenu value="#{beanInventario.colorSeleccionado}" required="true" requiredMessage="Seleecione el color del producto">
					<f:selectItems value="#{beanInventario.listaColor}" var="c"
						itemLabel="#{c.colNombre}" itemValue="#{c.idColor}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Seleccione la talla del Producto:" />
				<p:selectOneMenu value="#{beanInventario.tallaSeleccionada}" required="true" requiredMessage="Seleecione la talla del producto">
					<f:selectItems value="#{beanInventario.listaTalla}" var="ta"
						itemLabel="#{ta.tallDescripcion}" itemValue="#{ta.idTalla}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Precio:" />
				<p:spinner value="#{beanInventario.pro_precio}" min="0" max="500" required="true" requiredMessage="Seleecione el precio del producto"
					stepFactor="0.01"></p:spinner>
				<h:outputText value="Stock:" />
				<p:spinner value="#{beanInventario.stock}" min="0" max="100" required="true" requiredMessage="Seleecione el precio del producto"/>
				<h:outputText value="Imagen" />
				<p:inputText value="#{beanInventario.imagen}" required="true" requiredMessage="Ingrese el link del producto"></p:inputText>
				

				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form:,formDatos"
					actionListener="#{beanInventario.actionListenerInsertarProducto()}"></p:commandButton>
			</p:panelGrid>
		</h:form>

	</p:overlayPanel>
	<h:form id="formDatos">
		<br />
		<p:panel header="DATOS DE LOS PRODUCTOS">

			<p:dataTable value="#{beanInventario.listaProducto}" var="p" reflow="true"
			paginator="true" rows="5" rowKey="#{p.idProducto}">
				<p:column headerText="ID PRODUCTO">
					<h:outputText value="#{p.idProducto}" />
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{p.proDescripcion}" />
				</p:column>
				<p:column headerText="MARCA">
					<h:outputText value="#{p.invMarca.marNombre}" />
				</p:column>
				<p:column headerText="TIPO PRODUCTO">
					<h:outputText value="#{p.invTipoProducto.tipoDescripcion}" />
				</p:column>
				<p:column headerText="TALLA">
					<h:outputText value="#{p.invTalla.tallDescripcion}" />
				</p:column>
				<p:column headerText="COLOR">
					<h:outputText value="#{p.invColor.colNombre}" />
				</p:column>
				<p:column headerText="PRECIO">
					<h:outputText value="#{p.proPrecio}" />
				</p:column>
				<p:column headerText="STOCK">
					<h:outputText value="#{p.proStock}" />
				</p:column>
				<p:column headerText="IMAGEN">
					<p:graphicImage value="#{p.proImagen}" style="max-width:100%;height:auto;"/>
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						update="formEdicion"
						actionListener="#{beanInventario.actionListenerSeleccionarProductoEdicion(p)}"
						oncomplete="PF('dlgEdicion').show()" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanInventario.actionListenerEliminarProducto(p.idProducto)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este producto?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>


			</p:dataTable>


		</p:panel>



	</h:form>
	<p:dialog header="Editar producto" widgetVar="dlgEdicion" width="510"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
			<h:outputText value="DESCRIPCION:" />
				<p:inputTextarea rows="5" cols="30"
					onChange="(e) => setValue(event.target.value) autoResize"
					value="#{beanInventario.productoEdicion.proDescripcion}"/>
				<h:outputText value="PRECIO" />
				<p:spinner value="#{beanInventario.productoEdicion.proPrecio}"
					stepFactor="0.01" size="2" />
				<h:outputText value="STOCK" />
				<p:spinner value="#{beanInventario.productoEdicion.proStock}"
					min="0" max="15"  size="2"/>
				<h:outputText value="Imagen" />
				<p:inputText value="#{beanInventario.productoEdicion.proImagen}" required="true" requiredMessage="Inserte el link de la imagen"></p:inputText>
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					actionListener="#{beanInventario.actionListenerActualizarProducto()}"
					update=":formDatos" />

			</p:panelGrid>


		</h:form>


	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>


</body>
</html>
