<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCarrito.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info"
			summary="Módulo de Carrito de compras"></p:staticMessage>
	</h:form>
	<h:form>
		<p:panel header="Datos de productos">
			<p:dataGrid value="#{beanCarrito.listaProducto}" var="p">

				<p:panel header="producto">
					<h:panelGrid columns="2">
						<h:outputText value="Codigo:" />
						<h:outputText value="#{p.idProducto}" />
						<h:outputText value="Imagen:" />
						<p:graphicImage value="#{p.proImagen}"
							style="max-width:30%;height:auto;" />
						<h:outputText value="Marca:" />
						<h:outputText value="#{p.invMarca.marNombre}" />
						<h:outputText value="Prenda:" />
						<h:outputText value="#{p.invTipoProducto.tipoDescripcion}" />
						<h:outputText value="Descripcion:" />
						<h:outputText value="#{p.proDescripcion}" />
						<h:outputText value="Talla:" />
						<h:outputText value="#{p.invTalla.tallDescripcion}" />
						<h:outputText value="Precio:" />
						<h:outputText value="#{p.proPrecio}" />
						<p:commandButton value="Agregar" update="@form"
							icon="fa fa-cart-plus"
							actionListener="#{beanCarrito.InsertarProductoMemoria(p)}" />

					</h:panelGrid>
				</p:panel>
			</p:dataGrid>
			<p:dataTable value="#{beanCarrito.carrito}" var="p">
				<p:column headerText="Codigo">
					<h:outputText value="#{p.idProducto}" />
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{p.proDescripcion}" />
					<f:facet name="footer">
						<h:outputText value="Suma total:" />
					</f:facet>
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{p.proPrecio}" />
					<f:facet name="footer">
						<h:outputText value="#{beanCarrito.totalCarrito}">
							<f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
						</h:outputText>
					</f:facet>
				</p:column>
				<p:column>
					<p:commandButton value="Eliminar" update="@form" icon="fa fa-close"
						actionListener="#{beanCarrito.deleteMemoria(p)}" />
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>

	<p:commandButton value="PAGAR" icon="fa fa-cart-plus"
		action="/facturacion/facturacion"
		actionListener="#{beanCarrito.calcularTotalCompras()}"/>
</body>
</html>
