<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-with,initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>CLIENTES</title>
	</f:facet>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCliente.actionReporte()}" />
			<p:menuitem value="Clientes" icon="pi pi-id-card" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de cliente"></p:staticMessage>
	</h:form>
	<h2 style="background-color: white-space:;" align="center">CLIENTES</h2>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"
		update="formIngresar" oncomplete="PF('dlgIngresar').show()"></p:commandButton>

	<h:form id="formDatos">
		<br />
		<p:panel header="DATOS DE LOS CLIENTES">
			<p:dataTable value="#{beanCliente.listaCliente}" var="p">

				<p:column headerText="ID_CLIENTE">
					<h:outputText value="#{p.idCliente}" />
				</p:column>
				<p:column headerText="CÉDULA">
					<h:outputText value="#{p.cliCedula}" />
				</p:column>
				<p:column headerText="NOMBRES">
					<h:outputText value="#{p.cliNombre}" />
				</p:column>
				<p:column headerText="CORREO">
					<h:outputText value="#{p.cliCorreo}" />
				</p:column>
				<p:column headerText="ACTIVO">
					<p:growl id="msg" />
					<p:selectBooleanCheckbox value="#{p.cliActivo}" position="top">
						<p:ajax update="msg" listener="#{beanCliente.addMessage}" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="DIRECCIÓN CASA">
					<h:outputText value="#{p.cliDireccionCasa}" />
				</p:column>
				<p:column headerText="DIRECCIÓN TRABAJO">
					<h:outputText value="#{p.cliDireccionTrabajo}" />
				</p:column>
				<p:column headerText="CELULAR">
					<h:outputText value="#{p.cliNumeroCelular}" />
				</p:column>
				<p:column headerText="TELÉFONO">
					<h:outputText value="#{p.cliNumeroConvencional}" />
				</p:column>
				<p:column headerText="PAGO">
					<h:outputText value="#{p.cliPago.pagTipo}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						update="formEdicion"
						actionListener="#{beanCliente.actionListenerSeleccionarClienteEdicion(p)}"
						oncomplete="PF('dlgEdicion').show()" />

					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanCliente.actionListenerEliminarCliente(p.idCliente)}">
						<p:confirm header="Advertencia"
							message="Desea borrar este cliente?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar cliente" widgetVar="dlgEdicion" width="910"
		showEffect="fade" modal="true">

		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="4">
				<h:outputText value="Cédula:" />
				<p:inputText value="#{beanCliente.clienteEdicion.cliCedula}"></p:inputText>
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanCliente.clienteEdicion.cliNombre}"></p:inputText>
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanCliente.clienteEdicion.cliCorreo}"></p:inputText>
				<h:outputText value="Activo" />
				<p:inputText value="#{beanCliente.clienteEdicion.cliActivo}"></p:inputText>

				<h:outputText value="Dirección Casa: " />
				<p:inputText value="#{beanCliente.clienteEdicion.cliDireccionCasa}"></p:inputText>
				<h:outputText value="Dirección Trabajo:" />
				<p:inputText
					value="#{beanCliente.clienteEdicion.cliDireccionTrabajo}"></p:inputText>
				<h:outputText value="Celular:" />
				<p:inputText value="#{beanCliente.clienteEdicion.cliNumeroCelular}"></p:inputText>
				<h:outputText value="Teléfono:" />
				<p:inputText
					value="#{beanCliente.clienteEdicion.cliNumeroConvencional}"></p:inputText>
				<h:outputText value="Seleccione el Tipo de pago:" />

				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form:,formDatos"
					actionListener="#{beanCliente.actionListenerActualizarCliente()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>

	<p:dialog header="Ingresar cliente" widgetVar="dlgIngresar" width="910"
		showEffect="fade" modal="true">

		<h:form id="formIngresar">
			<p:messages>
				<p:autoUpdate />
			</p:messages>

			<p:panelGrid columns="4">
				<h:outputText value="Cédula:" />
				<p:inputText value="#{beanCliente.cli_cedula}"></p:inputText>
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanCliente.cli_nombres}"></p:inputText>
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanCliente.cli_correo}"></p:inputText>
				<h:outputText value="Activo" />
				<p:inputText value="#{beanCliente.cli_activo}"></p:inputText>

				<h:outputText value="Dirección Casa: " />
				<p:inputText value="#{beanCliente.direccion_casa}"></p:inputText>
				<h:outputText value="Dirección Trabajo:" />
				<p:inputText value="#{beanCliente.direccion_trabajo}"></p:inputText>
				<h:outputText value="Celular:" />
				<p:inputText value="#{beanCliente.num_celular}"></p:inputText>
				<h:outputText value="Teléfono:" />
				<p:inputText value="#{beanCliente.num_convencional}"></p:inputText>

				<h:outputText value="Seleccione el Tipo de pago:" />
				<p:selectOneMenu value="#{beanCliente.idpagoSeleccionado}">
					<f:selectItems value="#{beanCliente.listaPago}" var="ta"
						itemLabel="#{ta.pagTipo}" itemValue="#{ta.idPago}"></f:selectItems>
				</p:selectOneMenu>

				<p:commandButton value="Insertar" icon="pi pi-save"
					update="@form:,formDatos"
					actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>
			</p:panelGrid>



		</h:form>
	</p:dialog>

</body>
</html>